clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
datasets
openai
opencv-python
pandas
pillow
pinecone
python-dotenv
scikit-image
scikit-learn
scipy
streamlit
torch==1.4.0+cpu 
torchvision==0.5.0+cpu
Wikipedia-API